
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: Lato, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ff6e7f, #bfe9ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ff6e7f, #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.location,
.temp {
  height: 20rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
.location p{
  margin-left: 30px;
}
.temp{
  flex-direction: column;
}
.deg-section{
  display: flex;
  align-items: center;
  cursor: pointer;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
.deg-section span{
  margin: 10px;
  font-size: 30px;
}
.deg-section h2{
  font-size: 40px;
}
.weatherInfo{
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav {
  transition: 0.3s all ease;
  position: absolute;
  width: 260px;
  left: -260px;
  height: 100%;
  background: #27292F;
  z-index: 9999;
}
.open {
  left: 0px;
}
.menu {
  list-style-type: none;
}
.menu__item {
  font-size: 1.4rem;
  color: #eee;
  border-bottom: 1px solid #333;
  padding: 1.2rem;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.menu__item:hover {
  background: #111;
  cursor: pointer;
}
/**** hamburger icon ****/
.hamburger {
  position: absolute;
  top: 10px;
  right: -50px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger span {
  display: block;
  background: #222;
  margin: 6px 0;
  height: 6px;
  width: 36px;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
}
.changeFirstBar {
  top: 11px;
  transform: rotate(45deg);
}
.changeSecondBar {
  opacity: 0;
}
.changeThirdBar {
  bottom: 13px;
  transform: rotate(-45deg);
}

/********** Main Content *********/

.content {
  padding: 2rem;
  transition: 0.3s all ease;
}
.shift {
  margin-left: 260px;
}

.content__heading {
  text-align: center;
  padding: 2rem;
}
.content__details {
  padding: 2rem;
  letter-spacing: 1px;
}
.content__image {
  padding: 1rem;
  width: 100%;
  height: auto;
}
